<div id="container">
	<h1>Register</h1>

	<form action="/users" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<label>Email</label>
		<input type="email" name="email">
		<label>Name</label>
		<input type="text" name="name">
		<label>Password</label>
		<input type="password" name="password">
		<label>Password Confirmation</label>
		<input type="password" name="password_confirmation">
		<br>
		<input type="submit" value="Join">
	</form>
	<a href="/sessions/new">Already a Member</a>
</div>
